body{
    background-color: rgb(218, 216, 216);
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    background-color: rgb(37, 36, 36);
     border-radius: 10px; 
    /* flex-wrap:wrap; */
    flex-direction: row;
    
 
}

.navbar > a {
    
    font-size:large;
    color: whitesmoke;
    font-weight: bolder;
    margin: auto; 
     text-decoration: none; 
    
}
.navbar > a:hover{
    background-color: white;
    color: yellowgreen;
    transition: all;
    transition-duration: 0.3s;
        transition:0.5s ease-in;
    
    
    
}

